
.tags_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag{
    font-size: 14px;
    font-weight: 700;
    background-color: #ff6666;
    color: #ffff;
    padding: 10px 30px;
    border-radius: 15px;
}

@import "../../assets/styles/ResponsisveLogD.scss"