.collapse_container{
   display: flex;
   flex-direction: column;
}
.collapse_container button {
    color: #fff;
    background-color: #ff6060;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapse_header h3{
    margin-left: 10px;
    font-size:  18px;
    font-weight: 700;
}
.Icon{
    margin-right: 10px;
    font-size: 32px;
    transition: transform 0.3s ease;
}
.Icon.open{
    transform: rotate(180deg);
}


.Collapse-content{
    ul{
        list-style: none;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 30px
    }   
    max-height: 0;
    font-size: 18px;
    overflow: hidden;
    background-color: var(--grey-color);
    border-radius: 5px;
    letter-spacing: 2.5px;
}
.Collapse-content.open{
    max-height: 500px;
    padding: 15px;
    margin: 0;
}


@import "../../assets/styles/ResponsivesCollapse.scss"