@media  screen and (max-width: 679px){
   .collapse_header{
    height: 8vw;
   }
    .collapse_header h3 {
  font-size: 13px !important;
  }

  .collapse_header .Icon{
    font-size: 20px;
  }
  .Collapse-content{
    margin:10px;
  }
  .Collapse-content span{
    font-size: 13px;
  }
  .Collapse-content li{
    font-size: 13px;
  }

.description-equipement{
        display: flex;
        flex-direction: column;
        gap: inherit !important;
    }
}