
/*Responsives pour mobiles*/

@media  screen and (max-width: 679px) {
    /* Global*/
   
    main{
        margin: 20px 0px;
        background-color: #ffff;
    }
    .home{
        margin: 0 20px;
    }
    /***Header******/
    .Header{
        height: auto;
        gap:51px;
        height: 12vw;
        justify-content: flex-start;
        margin: 30px 20px;
    }
    .Header_logo{
        width: 37.8%;
    }
    .nav_header ul{
        gap:20px;
    }
    .nav_header li{
        font-size: 12px;
    }
/********************Home**************************
    /*Banner*/
    .Banner{
        height: 29.6vw;
        margin: 0;
    }
    .Banner_text{
       font-size: 24px; 
       text-align: left;
       left: 139px;
       top: 42px;
       width: 69%;
    }
    .Banner_img{
        border-radius: 8px;

    }

/*********GALLERY*******/
    .gallery_home{
       padding: 0 !important; 
       grid-template-columns: 1fr !important;
       gap: 10px !important;
    }

/*****CARDs********/
    .card{
        width: 100%;
        height: 72vw;
    }


/*****Footer****/
footer{
    padding: 20px;
}    
    footer p{
        font-size: 12px !important;
        margin-left: 30% !important;
        margin-right: 30% !important;
        
    }
}