@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{

--grey-color: rgba(246, 246, 246, 0.45);
}
body{
    margin: auto;
    font-family: "Montserrat";

}


a {
    text-decoration: none;
}

main{
    margin:50px;
    background-color:#f6f6f6;
    border-radius: 25px;
}