@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.Banner {
   margin: 0 50px;
    position: relative;
}
    
.Banner_img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px 0px #00000025;
    border-radius: 25px;  
}

.Banner_text{
    position: absolute;
    top: 37%;           
    left: 46%;          
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: #ffff;        
    font-weight: 700;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center; 
}
/***Responsive mobile ****/

@media (min-width: 375px) and (max-width:750px){
    .Banner{
        height: 29.6vw;
        margin: 0 20px;
    }
    .Banner_text{
       font-size: 24px; 
       text-align: left;
       left: 40%;
       top: 36%;
       width: 69%;
    }
    .Banner_img{
        border-radius: 8px;

    }
}